<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0" />

    {% if settings.favicon_enable %}
        <link rel="icon" href="{{ 'cropped-favicon-32x32.png' | asset_url }}" sizes="32x32" />
        <link rel="icon" href="{{ 'cropped-favicon-192x192.png' | asset_url }}" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="{{ 'cropped-favicon-180x180.png' | asset_url }}" />
        <meta name="msapplication-TileImage" content="{{ 'cropped-favicon-270x270.png' | asset_url }}" />
    {% endif %}

    <title>{{ shop.name }}</title>

    {{ content_for_header }}
</head>
<body>
    {{ content_for_layout }}
</body>
</html>
